

/* .userThumbnail {
  height: 100px;
  width: 100px 
}

.userThumbnailImg{
  height: 20%;
  width: 20% px;
  border: 2px solid saddlebrown;
} */


h1 { font-family: 'Enriqueta', arial, serif; line-height: 1.25; margin: 0 0 10px; font-size: 40px; font-weight: bold; }


.swipeCard {
  height: 500px;
  width: 50%
}

.swipeCardImg{
  display: block;
  height: 70%;
  width: 80% ;
  border: 2px solid saddlebrown;
}