.mr {
  text-align: center;
  color: red;
  border: 2px solid saddlebrown;
}

.userThumbnail {
  height: 100px;
  width: 100px 
}

.userThumbnailImg{
  height: 20%;
  width: 20% px;
  border: 2px solid saddlebrown;
}

.swipeCard {
  height: 500px;
}

.swipeCardImg{
  height: 70%;
  width: 80% ;
  border: 2px solid saddlebrown;
}